@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  background-color: burlywood;
  overflow-x: hidden;
}


.box {
  box-shadow: -7px 10px 34px -1px rgba(0, 0, 0, 0.77);
  background-color: deepskyblue;
  height: 250px;
  width: 400px;
  margin: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}


.box.show {
  transform: translateX(0);
}